body {
  background: #000;
  color: #fff;
}

.icon {
  font-size: 35px;
  color: #000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover .icon {
  color: #fff;
}
