* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #242b2e;
  color: #fff;
  min-height: 100vh;
}

.main {
  text-align: center;
  font-size: 2rem;
  margin-block: 1rem;
}

.container {
  max-width: 50%;
  background: #758283;
  margin-inline: auto;
  position: relative;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, 150px);
  grid-gap: 1rem;
  list-style: none;
}

.card {
  background: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticIcon {
  font-size: 5rem;
  font-weight: 600;
  pointer-events: none;
}

.toast {
  font-size: 2rem;
  font-weight: 500;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 400px;
  padding: 6px;
  background: #758283;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border: 1px solid #baeef1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s, transform 1s;
}

.toast--visible {
  top: 20px;
  opacity: 1;
  visibility: visible;
  transform: translateY(8rem);
}

.toast--success {
  background: green;
  color: #fff;
}

.toast--alert {
  background: red;
  color: #fff;
}

.new-game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
